
body h1 {
    text-align: center;
    color: #032766;
    text-transform: uppercase;
}

.box1 {
    height: 600px;
    width: 600px;
    background-color: #032766;
    color: #fff;
    text-align: center;
    margin: auto;
    margin-top: 40px;
  }

.texto {
    font-size: 60px;
    font-family: 'Inconsolata', monospace;
    margin: 0 auto;
}