*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.menu {
    width: 300px;
    position: fixed;
    height: calc(100vh - 60px);
    background-color: #192841;
    padding-left: 15px;
}

.menu-btn {
    width: 250px;
    background-color: #192841;
    color: #fff;
    font-size: 20px;
    padding: 0 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu ul {
    padding-top: 15px;
}

.menu ul li {
    line-height: 60px;
    list-style: none;
}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}